---
Checks: '*, -altera*, -fuchsia*, -llvmlibc*, -cppcoreguidelines-avoid-const-or-ref-data-members, -modernize-use-trailing-return-type, -readability-avoid-const-params-in-decls'
CheckOptions: [ { key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic, value: 1 } ]
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: 'file'
User: david
