---
Checks:            '*, -fuchsia*, -google*, -modernize-use-trailing-return-type, -llvm-namespace-comment, 
                    -hicpp-vararg, -cppcoreguidelines-pro-type-vararg, -hicpp-braces-around-statements, -readability-braces-around-statements,
                    -llvm-header-guard, -cppcoreguidelines-non-private-member-variables-in-classes, -cppcoreguidelines-pro-bounds-constant-array-index,
                    -readability-avoid-const-params-in-decls, -cert-err58-cpp, -misc-non-private-member-variables-in-classes'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
User:              david
